[submodule "cpp_ws"]
	path = cpp_ws
	url = git@github.com:JafarAbdi/cpp_playground.git
[submodule "lerobot_ws"]
	path = lerobot_ws
	url = git@github.com:JafarAbdi/lerobot_workspace.git
[submodule "ompl_ws/omplapp"]
	path = ompl_ws/omplapp
	url = https://github.com/ompl/omplapp.git
[submodule "ompl_ws/ompl"]
	path = ompl_ws/ompl
	url = https://github.com/ompl/ompl
[submodule "behaviortree_ws/external/BehaviorTree.CPP"]
	path = behaviortree_ws/external/BehaviorTree.CPP
	url = git@github.com:BehaviorTree/BehaviorTree.CPP.git
[submodule "curobo_ws/external/curobo"]
	path = curobo_ws/external/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "mujoco_ws/mujoco_mpc"]
	path = mujoco_ws/mujoco_mpc
	url = https://github.com/google-deepmind/mujoco_mpc
[submodule "mujoco_ws/mujoco"]
	path = mujoco_ws/mujoco
	url = https://github.com/google-deepmind/mujoco/
[submodule "vamp_ws/vamp"]
	path = vamp_ws/vamp
	url = https://github.com/KavrakiLab/vamp.git
