[submodule "cpp_ws"]
	path = cpp_ws
	url = git@github.com:JafarAbdi/cpp_playground.git
[submodule "ompl_ws/omplapp"]
	path = ompl_ws/omplapp
	url = https://github.com/ompl/omplapp.git
[submodule "ompl_ws/ompl"]
	path = ompl_ws/ompl
	url = https://github.com/ompl/ompl
[submodule "curobo_ws/external/curobo"]
	path = curobo_ws/external/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "mujoco_ws/mujoco_mpc"]
	path = mujoco_ws/mujoco_mpc
	url = https://github.com/google-deepmind/mujoco_mpc
[submodule "mujoco_ws/mujoco"]
	path = mujoco_ws/mujoco
	url = https://github.com/google-deepmind/mujoco/
[submodule "vamp_ws/vamp"]
	path = vamp_ws/vamp
	url = https://github.com/KavrakiLab/vamp.git
[submodule "llama_ws/llama.cpp"]
	path = llama_ws/llama.cpp
	url = git@github.com:ggerganov/llama.cpp.git
[submodule "mujoco_ws/mujoco_playground"]
	path = mujoco_ws/mujoco_playground
	url = https://github.com/google-deepmind/mujoco_playground.git
[submodule "mujoco_ws/mujoco_warp"]
	path = mujoco_ws/mujoco_warp
	url = https://github.com/google-deepmind/mujoco_warp
[submodule "mujoco_ws/madrona_mjx"]
	path = mujoco_ws/madrona_mjx
	url = https://github.com/shacklettbp/madrona_mjx.git
